/* Import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    color: #F13E93;
    text-shadow: 3px 3px 0 black;

    /* Gradasi bergerak */
    background: linear-gradient(-45deg, #F9B2D7, #CFECF3, #DAF9DE, #F6FFDC);
    background-size: 400% 400%;
    animation: gradientMove 6s ease infinite;
}

/* Animasi */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Container */
.container {
    padding: 20px;
    text-align: center;
}

/* Judul */
h2 {
    border-bottom: 2px solid #F13E93;
    padding-bottom: 5px;
}

/* Menu */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #F13E93;
    font-weight: bold;
}

a:hover {
    color: red;
}

body {
    background-image: url("8.png"); /* ganti dengan nama file gambarmu */
    background-size: cover;          /* agar memenuhi layar */
    background-repeat: repeat-y;    /* agar tidak diulang */
    background-position: left top;     /* posisi tengah */
    height: 100vh;
    margin: 0;
}

/* FOTO BULAT */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* bikin bulat */
    object-fit: cover;
    border: 4px solid #F13E93;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}